#top-section{
    text-align: center;
    background: url("assets/top.webp");
    height: 80vh;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit:contain;
    color: white;
}

@media (max-width: 768px){
    #top-section{
        width: 100%;
        height: 70vh;
    }
}